packaging_format = 2

id = "simple-hash-generator"
name = "Simple-Hash-Generator"
description.en = "Simple hash generator utilizing a collection of popular and useful hash functions"
description.fr = "Générateur de hachage simple utilisant une collection de fonctions de hachage populaires et utiles"

version = "1.0~ynh2"

maintainers = ["Jarod5001"]

[upstream]
license = "MIT"
demo = "https://prizz.github.io/Simple-Hash-Generator/"
code = "https://github.com/pRizz/Simple-Hash-Generator"
website = "https://prizz.github.io/Simple-Hash-Generator/"

[integration]
yunohost = ">= 11.1.19"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/hash"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/pRizz/Simple-Hash-Generator/releases/download/v1/Simple-Hash-Generator.zip"
        sha256 = "10935b7973348ceeca9552c7f7149a29973f76ab441f908d55a9d6bdaff66f3d"
        in_subdir = false

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
